
@{
    ViewBag.Title = "Index";
}

<style>
    .bg {
        background: url('/Content/themes/base/images/background ferrari.jpg') no-repeat center center;
        position: fixed;
        width: 100%;
        height: 438px; /*same height as jumbotron */
        top: 0;
        left: 0;
        z-index: -1;
        filter: blur(5px);
    }

    .jumbotron {
        height: 330px;
        color: ghostwhite;
        text-shadow: #444 0 1px 1px;
        background: transparent;
    }

    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
        color: #333;
        text-shadow: none; /* Prevent inheritance from `body` */
        background-color: #fff;
        border: .05rem solid #fff;
    }

    .site-wrapper-inner {
        display: table-cell;
        vertical-align: top;
    }

    .cover-container {
        margin-right: auto;
        margin-left: auto;
    }

    .cover {
        padding: 0 1.5rem;
    }

        .cover .btn-lg {
            padding: .75rem 1.25rem;
            font-weight: bold;
        }
</style>



<div class="bg"></div>
<div class="inner cover" style="text-align: center">
    <div class="jumbotron">
        <h1 class="cover-heading">Rapido-Car Rentals</h1>
        <p class="lead">
            The team Rapido welcomes you!<br />
            Start a perfect journy with the perfect car with the cheapest rental in the market
        </p>
        <p class="lead">
            <a href="/cars/carslist" class="btn btn-lg btn-secondary">See our cars</a>
        </p>
    </div>
</div>
